ul {
    margin: 0;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
}
body {
    background-color: gray;
}
name {
    color:black;
    font-family:'Lucida Sans Unicode';
    font-size: 100px;
    float:right;
}
overview {
    color:black;
    font-family:'Lucida Sans Unicode';
    font-size: 85px;
    float:left;
}
paragraph {
    color:black;
    font-family:'Lucida Sans Unicode';
    font-size: 25px;
    float:left;
    display: flex;
}
paragraph_smaller {
    color:black;
    font-family:'Lucida Sans Unicode';
    font-size: 23px;
    float:left;
    display: flex;
}
subName {
    color:black;
    font-family:'Lucida Sans Unicode';
    font-size: 30px;
    float:left;
    display: flex;
}
